.header h1 {
    text-align: center;
    font-size: 35px;
}

.banner img {
    height: 350px;
    width: 100%;
}

.recipes {
    display: flex;
    justify-content: center;
}

.recipes ul {
    display: flex;
    gap: 25px;
    list-style-type: none;
    margin-top: 35px;
}

.recipes li {
    font-size: 20px;
}

.recipes a {
    text-decoration: none;
}

/* Styling the recipe pages */

.recipe_header img {
    width: 250px;
    height: auto;
}

.recipe_header,
.recipe_description {
    text-align: center;
    margin-bottom: 40px;
}

.recipe_description h2,
.recipe_content h2 {
    font-size: 30px;      
}

p,
li {
    font-size: 18px;
}

